absl-py
altair
argon2-cffi
astor
astunparse
attrs
backcall
backports.zoneinfo
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim==0.1.0.post0
pyzmq
requests
requests-oauthlib
rsa
Send2Trash
six
smmap
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
toml
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
